
<!DOCTYPE html>
<html>
    
<head>
    <title>Forest Fire Prediction</title>
</head>
<body>

<h1>Enter the data</h1>

<form action="{{ url_for('predict_datapoint') }}" method="post">
    <input type="text" name="Temperature" placeholder="Temperature" required><br>
    <input type="text" name="RH" placeholder="RH" required><br>
    <input type="text" name="Ws" placeholder="Ws" required><br>
    <input type="text" name="Rain" placeholder="Rain" required><br>
    <input type="text" name="FFMC" placeholder="FFMC" required><br>
    <input type="text" name="DMC" placeholder="DMC" required><br>
    <input type="text" name="ISI" placeholder="ISI" required><br>
    <input type="text" name="Classes" placeholder="Classes" required><br>
    <input type="text" name="Region" placeholder="Region" required><br>

    <button type="submit">Predict</button>
</form>

{% if results %}
<h2>THE FWI prediction is {{ results }}</h2>
{% endif %}

</body>
</html>



